<section (window:resize)="onResize($event)">
  <div class="header" [ngClass]="{'dark-theme': darkMode, 'light-theme': !darkMode}">
    <div class="container">
      <h1>Where in the world?</h1>
      <button mat-button (click)="toggleTheme($event)">
        <fa-icon [icon]="darkMode ? solidMoonIcon : regularMoonIcon"></fa-icon>
        Dark Mode
      </button>
    </div>
  </div>
  <div *ngIf="!detailed" class="content" [ngClass]="{'dark-theme': darkMode, 'light-theme': !darkMode}">
    <div class="container">
      <form>
        <mat-form-field appearance="fill">
          <button matPrefix mat-button (click)="searchCountry($event)"><fa-icon [icon]="searchIcon"></fa-icon></button>
          <input type="text" matInput placeholder="Search for a country..." [(ngModel)]="selectedCountry" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Filter by Region</mat-label>
          <mat-select [ngClass]="{'dark-theme': darkMode, 'light-theme': !darkMode}">
            <mat-option value="Africa" (click)="filterRegion($event)">Africa</mat-option>
            <mat-option value="Americas" (click)="filterRegion($event)">Americas</mat-option>
            <mat-option value="Asia" (click)="filterRegion($event)">Asia</mat-option>
            <mat-option value="Europe" (click)="filterRegion($event)">Europe</mat-option>
            <mat-option value="Oceania" (click)="filterRegion($event)">Oceania</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <mat-grid-list [cols]="columns" rowHeight="425px">
      <mat-grid-tile *ngFor="let country of countries">
        <mat-card>
          <mat-card-header>
            <img mat-card-image [src]="country.flag" alt="flag">
          </mat-card-header>
          <mat-card-content>
            <h1>{{country.name}}</h1>
            <p>Population: <span>{{country.population}}</span></p>
            <p>Region: <span>{{country.region}}</span></p>
            <p>Capital: <span>{{country.capital}}</span></p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="detailed" class="details" [ngClass]="{'dark-theme': darkMode, 'light-theme': !darkMode}">
    <div class="container">
      <button mat-button (click)="backToMain($event)">
        <fa-icon [icon]="backIcon"></fa-icon>
        Back
      </button>
      <div class="country-info">
        <img mat-card-image [src]="countryInfo.flag" alt="flag">
        <div class="country-details">
          <h1>{{countryInfo.name}}</h1>
          <div class="wrapper">
            <div>
              <p>Native Name: <span>{{countryInfo.nativeName}}</span></p>
              <p>Population: <span>{{countryInfo.population}}</span></p>
              <p>Region: <span>{{countryInfo.region}}</span></p>
              <p>Sub Region: <span>{{countryInfo.subRegion}}</span></p>
              <p>Capital: <span>{{countryInfo.capital}}</span></p>
            </div>
            <div>
              <p>Top Level Domain: <span>{{countryInfo.topLevelDomain}}</span></p>
              <p>Currencies: <span>{{countryInfo.currencies}}</span></p>
              <p>Languages: <span>{{countryInfo.languages}}</span></p>
            </div>
          </div>
          <p>Border Countries: <span>{{countryInfo.borderCountries}}</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
